<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <navbar>
        <h1>Hello there but lets see</h1>
    </navbar>
    <a href="{%url 'about'%}">link to about page </a> 

    <form action="{%url 'counts'%}">
       <textarea name="paragraph" id="paragraph" cols="30" rows="10"></textarea>
       <br/>
       <button type="submit">Count</button>
    </form>

</body>

</html>